

.section_image_container{
    height: 70vh;
}
.section_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section_livraison{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.livraison_container{
    background-color: #7C1D1C;
    width: 70%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_camion{
    width: 100%;
    max-width: 125px;
    height: auto;
    margin: 2.5rem;
    object-fit: cover;
}
.txt_livraison{
    margin: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 32px;
    color: #FFFFFF;
}
.title{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_product{
    margin-top: 5rem;
}
.txt_product{
    color:green;
    position:relative;
    text-aligne:center;
    font-family: 'Arima Madurai', cursive;
    font-weight: 800;
    font-size: 28px;
    line-height: 46px;
    color: #000000;
}

.txt_product::after{
      content:'';
      height:4px;
      width:50%;
      background:#9B2423;
      position:absolute;
      margin:auto;
      bottom:-5px;
      left:0;
      right:0;
  }

.img_product{
    width: 30vh;
    object-fit: cover;
}

.product_container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section_comptoirs{
    height: 50vh;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comptoirs_container{
    background-color: #7C1D1C;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.img_comptoirs{
    height: 100%;
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.title_comptoirs{
    font-family: 'Source Sans Pro', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 3.438rem;
    color: #FFFFFF;
}

.subtitle_comptoirs{
    margin-top: 4rem;
    font-family: 'Source Sans Pro', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 1.438rem;
    line-height: 1.813rem;
    color: #FFFFFF;
}

.txt_comptoirs{
    margin-top: 1rem;
    font-family: 'Source Sans Pro', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #FFFFFF;

}

.tel_comptoirs{
    font-family: 'Source Sans Pro', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #FFFFFF;
}

small{
    font-family: 'Source Sans Pro', sans-serif;    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #FFFFFF;
}

.info_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
    padding: 2.5rem;
}

.section_button{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_contact{
    border: 3px solid #9B2423;
    box-sizing: border-box;
    border-radius: 1.563rem;
    padding: 1rem;
    width: 20%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;

    color: #000000;
}